section.about-section
  .wrapper
    .about-section__container
      img.about-section__icon-bg(src="images/about-section-icon-bg.png" loading="lazy" width="1920" height="331" alt="image")
      .about-section__box
        h2.about-section__title.font-w-m-bold.font-s-48.text-up
          | Станьте частью 
          br.no-br
          | нашей команды
        .about-section__block
          .about-section__items
            .about-section__item
              img.about-section__item-icon(src="images/about-section-item-icon.svg" loading="lazy" width="24" height="24" alt="icon")
              .font-s-20
                span.font-w-bold
                  | Наша компания является единственным 
                  br.no-br
                  | дистрибьютором завода «MAV» в Казахстане, 
                br.no-br
                | поэтому мы занимаем лидерские позиции на рынке 
                br.no-br
                | и не имеем конкурентов
            .about-section__item
              img.about-section__item-icon(src="images/about-section-item-icon.svg" loading="lazy" width="24" height="24" alt="icon")
              .font-s-20
                span.font-w-bold
                  | Став нашим партнером, вы получите 
                  br.no-br
                  | возможность открыть магазин, 
                | который 
                br.no-br
                | гарантированно будет востребован в любом городе 
                br.no-br
                | или регионе и обеспечит вас стабильной прибылью
            .about-section__item
              img.about-section__item-icon(src="images/about-section-item-icon.svg" loading="lazy" width="24" height="24" alt="icon")
              .font-s-20
                span.font-w-bold
                  | Мы поможем вам полностью запустить работу 
                  br.no-br
                  | бизнеса, 
                | организуем регулярные поставки 
                br.no-br
                | ассортимента «MAV» на вашу точку и будем 
                br.no-br
                | поддерживать на всех стартовых этапах открытия
          .about-section__images
            img.about-section__block-img(src="images/about-section-block-img-1.jpg" loading="lazy" width="280" height="200" alt="image")
            img.about-section__block-img(src="images/about-section-block-img-2.jpg" loading="lazy" width="280" height="200" alt="image")
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="893" height="833" alt="image")
