section.details-section
  .wrapper
    .details-section__container
      h2.details-section__title.text-up
        span.font-w-m-semi-bold.font-s-100.color-red «MAV» — 
        span.font-w-m-bold.font-s-48.color-black гарантированно качественный продукт
      .swiper-bullet
        .details-section__cards.swiper-wrapper
          .details-section__card.swiper-slide
            .details-section__card-title.font-w-m-bold.font-s-22.text-up.color-red Экологичная продукция
            .font-s-18.color-black
              | MAV делает акцент на выпуск материалов 
              br.no-br
              | нового поколения 
              span.color-black-60
                | — «зеленых» продуктов 
                br.no-br
                | с минимальным содержанием летучих 
                br.no-br
                | органических соединений (ЛОС), 
                br.no-br
                | с дополнительными уникальными 
                br.no-br
                | «умными» свойствами. Стратегия компании 
                br.no-br
                | направлена на постоянное расширение 
                br.no-br
                | экологичных ЛКМ.
            img.details-section__img-mobile(src="images/details-section-img.jpg" loading="lazy" width="680" height="290" alt="image")
          .details-section__card.swiper-slide
            .details-section__card-title.font-w-m-bold.font-s-22.text-up.color-red Экологичность производства
            .font-s-18.color-black-60
              | Мы берем курс на повышение экологических параметров производства, 
              br.no-br
              | минимизацию воздействия на окружающую среду и постоянное сокращение 
              br.no-br
              | количества производственных отходов. При разработке и производстве 
              br.no-br
              | продукции не используются соединения тяжелых металлов, 
              span.color-black
                | компания 
                br.no-br
                | применяет только высококачественное сырье, поэтапно переходит на более 
                br.no-br
                | экологичные деароматизированные органические растворители, 
              br.no-br
              | разрабатывает инновационные покрытия, не наносящие вреда окружающей 
              br.no-br
              | среде и здоровью человека, что подтверждается соответствующими 
              br.no-br
              | документами и сертификатами.
          .details-section__card.swiper-slide
            .details-section__card-title.font-w-m-bold.font-s-22.text-up.color-red Ресурсосберегающие материалы
            .font-s-18.color-black-60
              | Компания MAV производит быстросохнущие 
              br.no-br
              | лакокрасочные материалы естественной сушки, 
              br.no-br
              | что значительно снижает затраты ресурсов, 
              br.no-br
              | используемых для «горячей» сушки ЛКМ. 
              br.no-br
              span.color-black
                | Специально разработанные рецептуры водно-
                br.no-br
                | дисперсионных ЛКМ включают инновационные 
                br.no-br
                | наполнители, 
              | обеспечивающие меньший нагрев 
              br.no-br
              | поверхности зданий и сооружений, что позволяет 
              br.no-br
              | снизить расход электроэнергии на работу 
              br.no-br
              | кондиционирующих устройств.
        .bullet-pagination
      .details-section__bottom
        img.details-section__img(src="images/details-section-img.jpg" loading="lazy" width="680" height="290" alt="image")
