footer.footer
  .footer__container
    .footer__logo-wrapper
      img.footer__logo(src="images/logo.png" loading="lazy" width="559" height="78" alt="logo")
    .footer__block
      .footer__brand.font-s-16 Франшиза магазина <br> лакокрасочной продукции
      a.footer__privacy.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
    .footer__call-me
      button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
