header.header
  .header__container
    .header__logo-wrapper
      img.header__logo(src="images/logo.png" loading="lazy" width="559" height="78" alt="logo")
    .header__brand.font-s-16 Франшиза магазина <br> лакокрасочной продукции
    .header__call-me
      button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
  .header__brand-mobile.font-s-16 Франшиза магазина лакокрасочной продукции
