section.start-section
  .wrapper
    .start-section__container
      .start-section__box
        h2.start-section__title.font-w-m-bold.font-s-48.text-up
          | Как мы поможем
          br
          | вам на старте?
        .swiper-bullet
          .start-section__cards.swiper-wrapper
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Поможем собрать сильную <br> команду специалистов
            .start-section__card.start-section__card--grey.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Дадим рекомендации <br> по выбору лучшей <br> локации и офиса
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Проведем для вас и вашей <br> команды подробное обучение
            .start-section__card.start-section__card--black.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Поможем правильно <br> оборудовать и оформить <br> точку
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Поделимся <br> стандартами оказания услуг <br> и взаимодействия с клиентами
            .start-section__card.start-section__card--black.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Организуем поставки <br> оборудования в ваш <br> магазин
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Предоставим готовый перечень <br> ассортимента товаров
            .start-section__card.start-section__card--grey.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Поделимся рабочими <br> маркетинговыми <br> инструментами
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Организуем поставки <br> товара из Головной компании
            .start-section__card.start-section__card--black.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Организуем продвижение <br> через рекламные каналы <br> франшизы
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Дадим рекомендации <br> по увеличению <br> среднего чека и объема продаж
            .start-section__card.start-section__card--grey.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
              .font-w-bold.font-s-16 Добавим в закрытое <br> сообщество <br> партнеров сети
          .bullet-pagination.bullet-pagination--left
        .start-section__bottom
          .font-w-m-semi-bold.font-s-30
            | Скачайте договор, в котором 
            br
            | описаны наши обязанности 
            br
            | и все условия сотрудничества
          button.btn.start-section__btn(data-remodal-target="modal-form-agreement") скачать
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="396" height="872" alt="image")
